.profileInfo {
    display: flex;
    flex-direction: column;
}

.profilePhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descriptionBlock {
    padding: 10px;
}

.header {
    font-weight: bold;
}

.mainPhoto {
    max-width: 300px;
}

.contact {
    padding-left: 10px;
}