.header {
    padding: 20px 0;
    background-color: #324A5E;
    min-height: 90px;
}

/*.header div {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.logo {
    border: 5px solid white;
    border-radius: 12px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}