.userPhoto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.page {
    cursor: pointer;
    margin: 10px;
}

.selectedPage {
    color: #ffffff;
    font-weight: bold;
}