.navContainer {
    background-color: #2990b6;
    padding: 20px;
}

.nav {
    background-color: transparent;
    margin-bottom: 80px;
}

.list > *:not(:last-child) {
    margin-bottom: 30px;
}

.item {
    font-size: 32px;
    line-height: 125%;
}

.item a {
    color: white;
    //background-color: #324A5E;
    border-radius: 10px;
}

.item a.activeLink {
    color: gold;
}

.friends {

}

.friendsTitle {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    line-height: 125%;
    color: #324A5E;
}

.friendsContainer {
    display: flex;
    gap: 15px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}


