.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {

}