.dialogs {
    /*display: grid;*/
    /*grid-template-columns: 2fr 10fr;*/
    display: flex;
    gap: 20px;
}

.dialogsItems {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

/*.dialogsItems .active {*/
/*    color: gold;*/
/*}*/




.messages {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}