.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

/*.dialogsItems .active {*/
/*    color: gold;*/
/*}*/


.link {
    color: white;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.message {
    color: white;
}

.active {
    color: #7ad97a;
}